*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# # Intellij
.idea/
*.iml
*.ipr
*.iws

# # Mac
.DS_Store

# # Maven
log/
target/

# Exclude temp nibs and swap files
*~.nib
*.swp

# build files
BUILD_DATE
build/
.gradle
